@font-face {
  font-family: "Revalia";
  src: 
  url(fonts/revalia-regular-webfont.woff2) format("woff2"),
  url(fonts/revalia-regular-webfont.woff) format("woff");
  
}

* {
  font-family: Revalia;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  justify-self: center;
  padding-top: 50px;
}

.container {
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-auto-columns: 1fr;
  min-height: 100vh; /*give container fixed height to so the background sticks*/
}

nav {
  position: relative;
  background-image: url(fonts/booknavdisplay.avif);
  background-position: center;
  background-repeat:repeat-x;
  background-size: cover;
}
.new-book {
  position: absolute;
  padding: 10px;
  border: 5px groove rgb(165, 93, 42);
  background-color: rgb(209, 174, 137);
  color: rgb(83, 137, 92);
  font-weight: bolder;
  top: 75%;
  left: 5px;
  transition: all 0.2s ease;
}

.new-book:hover {
  cursor: pointer;
  background-color: rgb(250, 174, 86);
}

.new-book:focus {
  outline: 2px solid rgba(255, 136, 0, 0.753);
}

.new-book:active {
  transform: scale(0.85);
}

#newBookDialog{
  border: 5px groove rgb(114, 221, 114);
  height: 250px;
  align-content: center;
}

form {
  display: grid;
}

.book-information > * {
  height: 40px;
  width: 30vw;
}

.dialog-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 80px));
  column-gap: 20px;
  row-gap: 5px;
}

main {
  background-color: rgb(183, 233, 173);
}

main h2 {
  margin-left: 10px;
}



.book-cards {
  margin: 30px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  grid-auto-rows: 1fr;
  gap: 10px;

}
.card {
  background-color: rgb(235, 174, 105);
}

.card > * {
  padding: 5%;
}
